<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Trade Center | optimizemegatrade</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" type="image/x-icon" href="/dash/images/favicon.png">
    <!-- Bootstrap 4.0-->
    <link rel="stylesheet" href="/dash/css/bootstrap.css">

    <!-- Bootstrap-extend -->
    <link rel="stylesheet" href="/dash/css/bootstrap-extend.css">

    <!-- theme style -->
    <link rel="stylesheet" href="/dash/css/master_style.css">
    <link rel="stylesheet" href="/dash/css/new.css">

    <!-- Crypto_Admin skins -->
    <link rel="stylesheet" href="/dash/css/skins/_all-skins.css">

    <!-- File Upload Preview-->
    <link rel="stylesheet" href="/dash/css/bootstrap-imageupload.css">

    <link rel="stylesheet" href="/dash/css/font-awesome.css">


    <script src="//code.tidio.co/roqbsaxfngxjom6kbxkkgezq7svypyw8.js" async></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body class="hold-transition skin-red sidebar-mini fixed">
    <div class="wrapper">

        <header class="main-header">

            <style>
                .float {
                    position: fixed;
                    width: 106px;
                    height: 37px;
                    bottom: 19px;
                    right: 90px;
                    background-color: #0C9;
                    color: #FFF;
                    border-radius: 3px;
                    text-align: center;
                    /* box-shadow: 2px 2px 3px #999; */
                    font-size: 16px;
                    z-index: 7;

                }

                .my-float {
                    margin-top: 12px;
                }

                .float2 {
                    position: fixed;
                    width: 106px;
                    height: 37px;
                    bottom: 19px;
                    right: 200px;
                    background-color: rgb(223, 111, 19);
                    color: #ffffff;
                    border-radius: 3px;
                    text-align: center;
                    /* box-shadow: 2px 2px 3px #999; */
                    font-size: 16px;
                    z-index: 7;
                }

                .my-float2 {
                    margin-top: 12px;
                }
            </style>

            <!-- Code begins here -->

            <a href="/withdraw" class="float">

                <i class="fa fa-credit-card my-float"> Withdraw</i>
            </a>

            <a href="/deposit" class="float2">

                <i class="fa fa-home my-float2"> Deposit</i>
            </a>

            <!-- Logo -->
            <!-- <a href="/dashboard" class="logo">-->
            <!-- logo for regular state and mobile devices -->
            <!--   <span class="logo-lg">-->
            <!--   <img src="images/logo-light-text.png" alt="logo" class="light-logo">-->
            <!--	  <img src="images/logo-dark-text.png" alt="logo" class="dark-logo">-->
            <!--</span>-->
            <!-- </a>                           -->
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="user user-menu" style="margin-right: 40px;">
                            <a href="/dashboard" class="btn btn-success" style="margin-top: 15px;">
                                TRADING SESSION
                            </a>
                        </li>

                        <!-- User Account -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/dash/images/user.png" class="user-image rounded-circle" alt="User Image">
                            </a>
                            <ul class="dropdown-menu scale-up">
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row no-gutters">
                                        <div class="col-12">
                                            <a href="/profile"><i class="ion ion-person"></i> My Profile</a>
                                        </div>
                                        <div class="col-12">
                                            <a href=""><i class="fa fa-lock"></i> Change Password</a>
                                        </div>
                                        <div class="col-12">
                                            <a href="/logout"><i class="icon-logout"></i> Logout</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!--  <style>-->

            <!--.float{-->
            <!--    position:fixed;-->
            <!--    width: 106px;-->
            <!--    height: 37px;-->
            <!--    bottom:19px;-->
            <!--    right:40px;-->
            <!--    background-color:#0C9;-->
            <!--    color:#FFF;-->
            <!--    border-radius:3px;-->
            <!--    text-align:center;-->

            <!--    font-size: 16px;-->
            <!--    z-index: 7;-->

            <!--}-->

            <!--.my-float{-->
            <!--    margin-top:12px;-->
            <!--}-->

            <!--.float2{-->
            <!--  position: fixed;-->
            <!--  width: 106px;-->
            <!--  height: 37px;-->
            <!--  bottom: 19px;-->
            <!--  right: 164px;-->
            <!--  background-color: rgb(223, 111, 19);-->
            <!--  color: #ffffff;-->
            <!--  border-radius: 3px;-->
            <!--  text-align: center;-->

            <!--  font-size: 16px;-->
            <!--  z-index: 7;-->
            <!--}-->

            <!--.my-float2{-->
            <!--    margin-top:12px;-->
            <!--}-->
            <!--</style>-->

            <!-- Code begins here -->

            <!--  <a href="#" class="float">-->

            <!--      <i class="fa fa-credit-card my-float"> Withdraw</i>-->
            <!--      </a>-->

            <!--      <a href="#" class="float2">-->

            <!--          <i class="fa fa-home my-float2"> Deposit</i>-->
            <!--          </a>-->

            <!-- sidebar -->



            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="ulogo">
                        <a href="/dashboard">
                            <!-- logo for regular state and mobile devices -->
                            <span><b>optimizemegatrade</span>
                        </a>
                    </div>

                    <div class="info">
                        <style>
                            .profile-pic {
                                background: darkseagreen;
                                color: white;
                                border-radius: 50%;
                                height: 60px;
                                width: 60px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-weight: bold;
                                font-size: 1.1rem;
                                -webkit-box-shadow: 0 3px 5px rgb(54 60 241);
                                box-shadow: 0 3px 5px rgb(54 60 241);
                            }
                        </style>
                        <center>
                            <div class="profile-pic">PA</div>
                            <p style="color:white;">
                                <%=user.fullName%><br>
                                    <%=user.email%>
                            </p>
                        </center>
                    </div>
                </div>
                <!-- sidebar menu -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="nav-devider"></li>
                    <li class="active">
                        <a href="/dashboard">
                            <i class="fa fa-bar-chart"></i> <span>Trade Center</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/kyc">
                            <i class="fa fa-id-card"></i> <span>KYC Verification</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                    </li>
                   

                    <li class="">
                        <a href="/profile">
                            <i class="fa fa-user"></i> <span>Profile</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                    </li>
                    <li class="">
                        <a href="">
                            <i class="mdi mdi-arrow-up"></i> <span>Investment Plans</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                    </li>
                    <li class="">
                        <a href="">
                            <i class="fa fa-lock"></i> <span>Change Password</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="icon-logout"></i> <span>Logout</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header" style="padding: 0.7rem;">
                <!-- Crypto Rates Widget -->
                <div class="row">
                    <div class="col-md-12" style="margin-top: 17px; margin-bottom: 5px;">
                        <script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
                        <coingecko-coin-price-marquee-widget
                            coin-ids="bitcoin,ethereum,litecoin,ripple,pancakeswap-token,solana,matic-network,cardano,binancecoin,polkadot,dogecoin,avalanche-2,terra-luna,tron,dai,tezos,ecash"
                            currency="usd" background-color="#ffffff" locale="en"></coingecko-coin-price-marquee-widget>
                    </div>
                    <div class="col-sm-12">
                    </div>
                </div>
                <!-- End Crypto Rates Widget -->



                <!-- Main content -->
                <section class="content" style="background-color:white">

                    <div class="page-inner" style="background-color:white">
                        <div class="mt-2 mb-4">
                            <h2 class="text-dark pb-2">Welcome, <%=user.fullName%>!</h2>


                        </div>

                        <!-- Beginning of  /dash Stats  -->
                        <div class="row row-card-no-pd" style="background-color:white">
                            <div class="col-sm-12 col-md-12">
                                <div class="card card-stats card-round" style="background-color:white">
                                    <div class="card-body ">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="text-center icon-big">
                                                    <i class="fa fa-download text-warning"></i>
                                                </div>
                                            </div>
                                            <div class="col-9 col-stats">
                                                <div class="numbers">
                                                    <p class="card-category">Deposited</p>
                                                    <h4 class="card-title text-dark">
                                                        <%=user.currency%>
                                                            <%=user.deposited%>.00
                                                    </h4>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12">
                                <div class="card card-stats card-round" style="background-color:white">
                                    <div class="card-body ">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="text-center icon-big">
                                                    <i class="fa fa-gift text-success"></i>
                                                </div>
                                            </div>
                                            <div class="col-9 col-stats">
                                                <div class="numbers">
                                                    <p class="card-category">Profit</p>
                                                    <h4 class="card-title text-dark">
                                                        <%=user.currency%>
                                                            <%=user.profit%>.00
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="col-sm-12 col-md-12">
                                <div class="card card-stats card-round" style="background-color:white">
                                    <div class="card-body ">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="text-center icon-big">
                                                    <i class="fa fa-gift text-success"></i>
                                                </div>
                                            </div>
                                            <div class="col-9 col-stats">
                                                <div class="numbers">
                                                    <p class="card-category">Available Balance</p>
                                                    <h4 class="card-title text-danger">
                                                        <%=user.currency%>
                                                            <%=user.availableBalance%>.00
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-sm-12 col-md-12">
                                <div class="card card-stats card-round" style="background-color:white">
                                    <div class="card-body ">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="text-center icon-big">
                                                    <i class="fa fa-btc text-warning"></i>
                                                </div>
                                            </div>
                                            <!--<div class="col-9 col-stats">
                                                <div class="numbers">
                                                    <p class="card-category">BTC Equivalent</p>
                                                    <h4 class="card-title text-warning"> 0.00000000 BTC</h4>
                                                </div>
                                            </div>-->

                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-sm-12 col-md-12">
                                <div class="card card-stats card-round" style="background-color:white">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="text-center icon-big">
                                                    <i class="fa fa-retweet text-primary"></i>
                                                </div>
                                            </div>
                                            <div class="col-9 col-stats">
                                                <div class="numbers">
                                                    <p class="card-category">Current Plan</p>
                                                    <h4 class="card-title text-dark"> <strong>
                                                            <label class="label label-warning">
                                                                <%=user.curentPlan%>
                                                            </label> </strong>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12">
                                <div class="card card-stats card-round" style="background-color:white">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="text-center icon-big">
                                                    <i class="fa fa-gift text-success"></i>
                                                </div>
                                            </div>
                                            <div class="col-9 col-stats">
                                                <div class="numbers">
                                                    <p class="card-category">Trade Progress</p>



                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-success"
                                                            role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                                            aria-valuemax="100" style="width: 0%;">
                                                            <%=user.tradeProgress%> % of trade.
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="white-box" style="height: 550px; width:100%; background-color:dark">
                        <div class="tradingview-widget-container" style="margin:30px 0px 10px 0px;">
                            <div id="tradingview_f933e"></div>
                            <div class="tradingview-widget-copyright"><a href="#" rel="noopener" target="_blank"><span
                                        class="blue-text"></span> <span class="blue-text">Personal trading
                                        chart</span></a></div>
                            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                            <script type="text/javascript">
                                new TradingView.widget(
                                    {
                                        "width": "100%",
                                        "height": "550",
                                        "symbol": "COINBASE:BTCUSD",
                                        "interval": "1",
                                        "timezone": "Etc/UTC",
                                        "theme": '',
                                        "style": "9",
                                        "locale": "en",
                                        "toolbar_bg": "#0e0d0d",
                                        "enable_publishing": false,
                                        "hide_side_toolbar": false,
                                        "allow_symbol_change": true,
                                        "calendar": false,
                                        "studies": [
                                            "BB@tv-basicstudies"
                                        ],
                                        "container_id": "tradingview_f933e"
                                    }
                                );
                            </script>
                        </div>

                    </div>



                    <div class="white-box" style="height: 450px; width:100%; background-color:dark">
                        <h4 style="margin-bottom:5px;"> Market Fundamental Data</h4>
                        <!-- TradingView Widget BEGIN -->

                        <div class="tradingview-widget-container">
                            <div id="tradingview_b3546"></div>
                            <div class="tradingview-widget-copyright"><a
                                    href="https://www.tradingview.com/symbols/BTCUSDT/?exchange=BINANCE" rel="noopener"
                                    target="_blank"><span class="blue-text">Bitcoin</span></a> by TradingView</div>
                            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                            <script type="text/javascript">
                                new TradingView.MediumWidget(
                                    {
                                        "symbols": [
                                            [
                                                "Bitcoin",
                                                "BINANCE:BTCUSDT|3M"
                                            ],
                                            [
                                                "Doge",
                                                "BINANCE:DOGEUSDT|12M"
                                            ],
                                            [
                                                "Ethereum",
                                                "BINANCE:ETHUSDT|12M"
                                            ],
                                            [
                                                "Binance",
                                                "BINANCE:BNBPERP|12M"
                                            ],
                                            [
                                                "Solana",
                                                "FTX:SOLUSD|12M"
                                            ],
                                            [
                                                "AXSBTC",
                                                "BINANCE:AXSBTC|12M"
                                            ]
                                        ],
                                        "chartOnly": false,
                                        "width": "100%",
                                        "height": "400",
                                        "locale": "en",
                                        "colorTheme": "dark",
                                        "gridLineColor": "rgba(42, 46, 57, 0)",
                                        "fontColor": "#787b86",
                                        "isTransparent": false,
                                        "autosize": false,
                                        "showFloatingTooltip": true,
                                        "showVolume": false,
                                        "scalePosition": "no",
                                        "scaleMode": "Normal",
                                        "fontFamily": "Trebuchet MS, sans-serif",
                                        "noTimeScale": false,
                                        "chartType": "candlesticks",
                                        "upColor": "#22ab94",
                                        "downColor": "#f7525f",
                                        "borderUpColor": "#22ab94",
                                        "borderDownColor": "#f7525f",
                                        "wickUpColor": "#22ab94",
                                        "wickDownColor": "#f7525f",
                                        "container_id": "tradingview_b3546"
                                    }
                                );
                            </script>
                        </div>

                    </div>


                    <div class="mgm" style="display: none;">
                        <div class="txt">Someone from <b></b> just invested
                            <a href="javascript:void(0);" onclick="javascript:void(0);"></a>
                        </div>
                    </div>
                    <style>
                        .mgm {
                            border-radius: 7px;
                            position: fixed;
                            z-index: 90;
                            bottom: 80px;
                            right: 50px;
                            background: #fff;
                            padding: 10px 27px;
                            box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, .3);
                        }

                        .mgm a {
                            font-weight: 700;
                            display: block;
                            color: #27a825;
                        }

                        .mgm a,
                        .mgm a:active {
                            transition: all .2s ease;
                            color: #27a825;
                        }
                    </style>
                    <script data-cfasync="false"
                        src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.html"></script>
                    <script type="text/javascript">
                        var listCountries = ['Brazil', 'USA', 'Germany', 'France', 'Italy', 'India', 'Australia', 'China', 'Canada', 'Argentina', 'Saudi Arabia', 'Mexico', 'Indonesia', 'Egypt', 'Venezuela', 'Madagascar', 'Sweden', 'Philippines', 'Finland', 'Italy', 'Ecuador', 'United Kingdom', 'Belarus', 'Greece', 'Cuba', 'Hungary', 'Portugal', 'Austria', 'Iceland', 'Panama', 'Croatia', 'Denmark', 'Netherlands', 'Switzerland', 'Belgium', 'Israel', 'Cyprus'];
                        var listPlans = ['$10000', '$5000', '$20000', '$10000', '$50000', '$6900', '$15000', '$5000'];
                        interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
                        var run = setInterval(request, interval);

                        function request() {
                            clearInterval(run);
                            interval = Math.floor(Math.random() * (40000 - 8000 + 1) + 8000);
                            var country = listCountries[Math.floor(Math.random() * listCountries.length)];
                            var plan = listPlans[Math.floor(Math.random() * listPlans.length)];
                            var msg = 'Someone from <b>' + country + '</b> just withdrew <a href="javascript:void(0);" onclick="javascript:void(0);">' + plan + ' </a>';
                            $(".mgm .txt").html(msg);
                            $(".mgm").stop(true).fadeIn(100);
                            window.setTimeout(function () {
                                $(".mgm").stop(true).fadeOut(600);
                            }, 6000);
                            run = setInterval(request, interval);
                        }
                    </script>
                </section>
                <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            Copyright &copy; 2012 - 2023 <a href="#"> optimizemegatrade</a>. All Rights Reserved.
        </footer>

    </div>
    <!-- ./wrapper -->

    <!-- jQuery 3 -->
    <script src="/dash/js/jquery.js"></script>

    <!-- popper -->
    <script src="/dash/js/popper.min.js"></script>

    <!-- Bootstrap 4.0-->
    <script src="/dash/js/bootstrap.js"></script>

    <!-- Slimscroll -->
    <script src="/dash/js/jquery.slimscroll.js"></script>

    <!-- This is data table -->
    <script src="/dash/js/jquery.dataTables.min.js"></script>

    <!-- Crypto_Admin App -->
    <script src="/dash/js/template.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <!-- Crypto_Admin /dash demo (This is only for demo purposes) -->
    <script src="/dash/js/pages//dash.js"></script>

    <!-- Crypto_Admin for demo purposes -->
    <script src="/dash/js/demo.js"></script>

    <!-- Crypto_Admin for Data Table -->
    <script src="/dash/js/pages/data-table.js"></script>

    <!--chats modifications-->

    <script type="text/javascript">
        (function () {
            var options = {
                whatsapp: "+1 (762) 769-0571", // WhatsApp number
                call_to_action: "", // Call to action
                position: "left", // Position may be 'right' or 'left'
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
    </script>



    <script><script src="//code.tidio.co/roqbsaxfngxjom6kbxkkgezq7svypyw8.js" async></script>
    </script>

</body>

</html>